.root {
    -fx-font-family: "Segoe UI", "Arial", sans-serif;
    -fx-background-color: #fdfdd9;
}
.label {
    -fx-font-size: 15px;
    -fx-text-fill: #343a40;
    -fx-font-weight: bold;
}
.button {
    -fx-background-color: #0d6efd;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-padding: 8 12;
}
.button:hover {
    -fx-background-color: #0b5ed7;
}
.button:focused {
    -fx-border-color: #0d6efd;
    -fx-border-width: 1;
    -fx-border-radius: 6;
}
.list-view {
    -fx-border-radius: 5;
    -fx-padding: 5;
}
.combo-box {
    -fx-background-color: white;
    -fx-border-color: #718fff;
    -fx-border-radius: 4;
}
.text-field {
    -fx-background-color: white;
    -fx-border-color: #718fff;
    -fx-border-radius: 4;

    -fx-pref-width: 119px;
    -fx-pref-height: 30px;
    -fx-font-size: 12px;
}
.date-picker {
    -fx-background-color: white;
    -fx-border-color: #ced4da;
    -fx-border-radius: 4;
    -fx-padding: 5 8;
}
.separator {
    -fx-background-color: #adb5bd;
}

.vbox, .hbox {
    -fx-spacing: 10;
}

.grid-pane {
    -fx-hgap: 8;
    -fx-vgap: 8;
}

#panelCliente, #panelMesero {
    -fx-background-radius: 12;
    -fx-padding: 16;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 6, 0, 0, 2);
}
#panelReservacion {
    -fx-border-radius: 6;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 6, 0, 0, 2);
}
#panelMesasReservacion {
    -fx-border-radius: 6;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 6, 0, 0, 2);
}
#panelClientesReservacion {
    -fx-border-radius: 6;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 6, 0, 0, 2);
}
